<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Анализ данных </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/custom.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar sticky-top navbar-dark bg-primary">
    <div class="">
        <div class="row d-flex justify-content-center">
            <div class="col-sm text-center">
                <form action="/">
                    <button class="btn  btn-lg btn-light" role="button" aria-pressed="true">назад</button>
                </form>
            </div>
            <div class="col-sm container">
                <div class="text-center">
                    <h1 class="text-white"> {{theme}}</h1>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="">
    <br><br>
    <div class="container">
        <div>
            {%for element in message %}
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1 text-center">
                            <h3>{{element.counter}}</h3>
                        </div>
                        <div class="col-sm-11">
                            <div class="text">
                                <h5 class="card-title text-center">{{element.title}}</h5>
                                <p> {{element.description}} </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <p> {{element.toneTitle}} </p>
                    <p> {{element.toneDescription}} </p>
                    <p> {{element.toneAll}} </p>
                    <p> {{element.toneAve}} </p>
                    <p> {{element.toneAveBest}} </p>

                </div>
                <div class="card-footer">
                    <form action=" {{element.url}}" target="_blank">
                        <button class="btn btn-lg btn-block btn-outline-primary" type="submit">перейти</button>
                    </form>
                </div>
            </div>
            <br>
            {%endfor%}
        </div>
    </div>
    <br> <br>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text">hello there</p>
        </div>
    </div>
</div>
</body>
</html>


